.books-grid-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.book-category {
  padding: 4px 8px;
  background-color: #95d66b;
  margin-right: 16px;
  border-radius: 3px;
}

.number-of-reviews {
  font-size: 20px
}

.book-description {
  white-space: pre-wrap;
}
