<h1>Books in your Reading List</h1>

<div class="reading-list-items-container">
  <ul class="nav nav-tabs" id="reading-list-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="next-tab" data-toggle="tab" href="#next" role="tab" aria-controls="next" aria-selected="true">Next</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="soon-tab" data-toggle="tab" href="#soon" role="tab" aria-controls="soon" aria-selected="false">Soon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="interested-tab" data-toggle="tab" href="#interested" role="tab" aria-controls="interested" aria-selected="false">Interested</a>
    </li>
  </ul>

  <div class="tab-content pt-3" id="reading-list-books">
    <div class="tab-pane fade show active" id="next" role="tabpanel" aria-labelledby="next-tab">
      <% @items_next.each do |item| %>
        <p><%= item.book.title %></p>
      <% end %>
    </div>
    <div class="tab-pane fade" id="soon" role="tabpanel" aria-labelledby="soon-tab">
      <% @items_soon.each do |item| %>
        <p><%= item.book.title %></p>
      <% end %>
    </div>
    <div class="tab-pane fade" id="interested" role="tabpanel" aria-labelledby="interested-tab">
      <% @items_interested.each do |item| %>
        <p><%= item.book.title %></p>
      <% end %>
    </div>
  </div>
</div>
